<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.fanzhe.payhelp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>


    <application
        android:name=".config.App"
        android:allowBackup="true"
        android:icon="@mipmap/icon_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_logo"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/AppTheme"
        android:networkSecurityConfig="@xml/network_config"
        tools:ignore="GoogleAppIndexingWarning"
        tools:targetApi="n">
        <activity android:name=".activity.MainActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">

        </activity>

        <activity android:name=".activity.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.PayChannelActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.RateActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.RiskCtActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.ChildChannelActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.FinancialMagActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.SettlementActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.UserManagerActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity android:name=".activity.AddBusinessActivity"
            android:windowSoftInputMode="stateHidden"/>
        <activity android:name=".activity.OrderManager"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name=".activity.SettlementInfoActivity" />
        <activity android:name=".activity.CodePayChannelActivity" />
        <activity android:name=".activity.MaNongManagerActivity" />
        <activity android:name=".activity.RechargeActivity" />
        <activity android:name=".activity.MaNongInfoActivity" />
        <activity android:name=".activity.MaNongListActivity" />
        <activity android:name=".activity.MoneySettingActivity" />



        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.fanzhe.payhelp.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true"
            >
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name="com.yanzhenjie.album.AlbumActivity"
            android:label="图库"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden|stateHidden" />

        <service
            android:name=".servers.HelperNotificationListenerService"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_NOTIFICATION_LISTENER_SERVICE">
            <intent-filter>
                <action android:name="android.service.notification.NotificationListenerService" />
            </intent-filter>
        </service>
    </application>

</manifest>